extends layout

block content
  div(id='root')
  script(src='/js/bundle.js')
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/popper/popper.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.min.js')
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/js/agency.min.js')
